<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.adminlte.dao.ArticleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.adminlte.entity.ArticleType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="category" property="category" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_articletype
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_articletype
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssm.adminlte.entity.ArticleType" >
    insert into sys_articletype (id, category)
    values (#{id,jdbcType=BIGINT}, #{category,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.adminlte.entity.ArticleType" >
    insert into sys_articletype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="category != null" >
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.adminlte.entity.ArticleType" >
    update sys_articletype
    <set >
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.adminlte.entity.ArticleType" >
    update sys_articletype
    set category = #{category,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findAll"  resultType="com.ssm.adminlte.entity.ArticleType">
           select *
           from sys_articletype
   </select>
     <!-- 分页查询文章 -->
   <select id="findObjectByPage" parameterType="com.ssm.adminlte.entity.Page" resultType="map">
           select *
           from sys_articletype
           limit #{start},#{length}
   </select>
   <!-- 得到总记录数 -->
   <select id="getRowCount" resultType="int">
           select count(*)
           from sys_articletype
    </select>
</mapper>